<!DOCTYPE html>
<html lang="en">

<head>
  <title>Edit Profile</title>
</head>

<body>
  <h1>Edit Profile</h1>
  <div>
    <form action="/customer/Edit" method="POST">
        <div>
            <label>First Name</label>
            <div>
                <input type="text" name="first_name">
            </div>
        </div>
        <div>
            <label>Last Name</label>
            <div>
                <input type="text" name="last_name">
            </div>
        </div>
        <div>
            <label>Phone Number</label>
            <div>
                <input type="text" name="phone_number">
            </div>
        </div>
        <div>
            <label>Address</label>
            <div>
                <input type="text" name="address"><br>
            </div>
        </div>
        <div>
            <label>Country</label>
            <div>
                <input type="text" name="country"><br>
            </div>
        </div>
        <div>
            <label>email</label>
            <div>
                <input type="email" name="email"><br>
            </div>
        </div>
        <div>
            <label>Password</label>
            <div>
                <input type="password" name="password"><br>
            </div>

        </div>
        <input type="submit" value="Register">
    </form>
  </div>
</body>

</html>

